 <ul >
  <li><%= @user.name %></li>
  <li><%= @user.email%></li>
  <li><%= @user.mobile_no%></li>
  <li><%= @user.role%></li>
  <li><%= link_to "Edit user", edit_user_path(@user) %></li>
  <li><%= link_to "All Users", users_path %></li>
  <li><%= link_to "View Parameters", user_performance_parameter_user_path(@user) %></li>
  <li><%= link_to "Add Task", user_task_user_path %></li>
</ul>

