<h1>Performance parameters</h1>
<%= form_tag({controller: "users", action: "update_user_performance_parameter"},
method: "get") do %>
  <%= label_tag(@user.name) %>
  <ul style="display: inline-block; list-style-type: none;">
    <% @presence = @user.performance_parameters.ids %>
    <% PerformanceParameter.all.each do |performance_parameter| %>
      <% if @presence.include? performance_parameter.id %>
        <li>
          <%= check_box_tag 'performance_parameter_ids[]', performance_parameter.id,
          checked:true %>
          <%=performance_parameter.name%>
        </li>
      <% else %>
        <li>
          <%= check_box_tag 'performance_parameter_ids[]', performance_parameter.id %>
          <%=performance_parameter.name%>
        </li>
      <% end %>
    <% end %>
    <li> <%= submit_tag("Update") %></li>
  </ul>
<% end %>